<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440636503023-24f199lttg5etsp4humrn5jevusumfp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440636503023-24f199lttg5etsp4humrn5jevusumfp4</string>
	<key>API_KEY</key>
	<string>AIzaSyAgyIkUdhlHvq9QcACRksFS7Ol_Y9NmUkY</string>
	<key>GCM_SENDER_ID</key>
	<string>440636503023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gotcha.yourfaceyourfate2</string>
	<key>PROJECT_ID</key>
	<string>vt6002cem-d9eae</string>
	<key>STORAGE_BUCKET</key>
	<string>vt6002cem-d9eae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440636503023:ios:90f66f0e9bb04c242d7c1a</string>
</dict>
</plist>